{% if cartridge.quantity <= 1 %}
    <tr class="table-danger">
{% else %}
    <tr>
{% endif %}
        <td>
            {{cartridge.color}}
        </td>
        <td>
            {{ cartridge.brand }}
        </td>
        <td>
            {{ cartridge.model }}
        </td>
        <td>
            {{ cartridge.quantity}}
        </td>
        <td>
            {{ cartridge.vendor }}
        </td>
        <td>
            {{ cartridge.product_url }}
        </td>
        <td>
            <i class="fas fa-edit"></i>
        </td>
        <td>
            <i class="fas fa-trash-alt"></i>
        </td>
    </tr>