
<div class="border bg-light rounded mb-2">
    <table class="table bg-light">
        <td>
            <b>{{ moment(event.creation_timestamp).format('LL') }}</b>
            {% if event.event_type == "create printer" %}
                <p>{{ 'Added new printer, {}.'.format(event.printer_name) }}</p>
            {% elif event.event_type == "create cartridge" %}
                <p>{{ 'Added new cartridge, {}, to printer {}.'.format(event.cartridge.color, event.printer.name) }}</p>
            {% elif event.event_type == 'edit printer' %}
                <p>{{ 'Edited {}.'.format(event.printer.name) }}</p>
            {% elif event.event_type == 'edit cartridge' %}
                <p>{{'Edited {} cartridge on printer {}.'.format(event.cartridge.color, event.printer.name) }}</p>
            {% elif event.event_type == 'delete printer'%}
                <p>{{'Deleted printer {}.'.format(event.printer_name) }}</p>
            {% endif %}
        </td>
    </table>
</div>