{% if printer.cart_on_hand <= printer.num_cartridges %}
    <tr class="table-danger">
{% else %}
    <tr>
{% endif %}
        <td>
            <a href="{{ url_for('main.add_cartridge', printer_id=printer.id) }}" class="text-dark">{{ printer.name }}</a>
        </td>
        <td>
            {{ printer.brand }}
        </td>
        <td>
            {{ printer.model }}
        </td>
        <td>
            {{ printer.num_cartridges}}
        </td>
        <td>
            {{ printer.cart_on_hand }}
        </td>
    </tr>