{% if printer.cart_on_hand != None %}
    {% if printer.cart_on_hand <= printer.num_cartridges %}
        <tr class="table-danger">
    {% endif %}
{% else %}
    <tr>
{% endif %}
        <td>
            <a href="{{ url_for('main.printer', printer_id=printer.id) }}" class="text-dark">{{ printer.name }}</a>
        </td>
        <td>
            {{ printer.brand }}
        </td>
        <td>
            {{ printer.model }}
        </td>
        <td>
            {{ printer.num_cartridges}}
        </td>
        <td>
            {{ printer.cart_on_hand }}
        </td>
        <td>
            <a href="{{ url_for('main.edit_printer', printer_id=printer.id)}}">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.delete_printer', printer_id=printer.id) }}">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>