{% extends 'base.html' %}

{% block app_content %}
    <div class="row my-4">
        <div class="col-lg-2 order-lg-1 ml-5 text-center">
            <div class="card">
                <img class="avatar avatar-180 img-circle img-thumbnail" src="{{ user.avatar(180) }}"/>
                <br>
                <p>User: {{ user.username }}</p>
            </div>
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="">
                <h3>Printers</h3>
                <table class="table table-hover table-striped table-bordered bg-light">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Cartridges</th>
                            <th>On Hand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for printer in current_user.printers %}
                            {% include '_printer.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}