{% extends 'base.html' %}

{% block app_content %}
    <div class="row my-4">
        <div class="col-lg-2 order-lg-1 ml-5">
            <div class="card">
                <img class="avatar avatar-180 img-thumbnail" src="{{ user.avatar(180) }}"/>
                <div class="card-body">
                    <h5>{{ user.username }}</h5>
                    <a href="" class="btn btn-primary">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="">
                <h3>Printers</h3>
                <table class="table table-hover table-striped table-bordered bg-light">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Cartridges</th>
                            <th>On Hand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for printer in user.printers %}
                            {% include '_printer.html' %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if current_user == user %}
                    <a href="{{ url_for('main.add_printer') }}" class="btn btn-primary">New Printer</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}